html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    /* The picture used as a background is a faithful photographic reproduction of a two-dimensional, public domain work of art of the
    Vincent van Gogh "Starry night over the Rhône" (1888), and considered to be in the public domain. Source: https://commons.wikimedia.org/wiki/File:Starry_Night_Over_the_Rhone.jpg */
    background: #ffffff url('../img/Starry_Night_Over_the_Rhone.jpg');
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 660px;
    min-height: 680px;
    background: #ffffff;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 130px;
    width: 130px;
    font-size: 0;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.face,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.face {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
}

.selected {
    border: 3px solid yellow;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /*transform: scale(1.1);
    /*transition: all .3s;*/
}  /* Adding somestyle for selected cards*/

/*
 *
 * Flip animation of matched cards
 *
 */

/*.flip-scale-down-hor {
   animation: flip-scale-down-hor 0.5s linear both;
   -webkit-animation: flip-scale-down-hor 0.5s linear both; /* Chrome, Safari, Opera */
/*}*/

@keyframes flip-scale-down-hor {
    0% {
        transform: scale(1) rotateX(0);
        -webkit-transform: scale(1) rotateX(0); /* Chrome, Safari, Opera */
    }
    25% {
        transform: scale(0.4) rotateX(90deg);
        -webkit-transform: scale(0.4) rotateX(90deg);
    }

    50% {
        transform: scale(0.6) rotateX(180deg);
        -webkit-transform: scale(0.8) rotateX(180deg);
    }

    75% {
        transform: scale(0.8) rotateX(90deg);
        -webkit-transform: scale(0.8) rotateX(90deg);
    }

    100% {
        transform: scale(1) rotateX(0);
        -webkit-transform: scale(1) rotateX(0);
    }
}

.matched {
  border: 3px solid #557096;
  /*animation: flip-scale-down-hor 0.5s linear both;
  -webkit-animation: flip-scale-down-hor 0.5s linear both;*/
  transform: rotateY(180deg) scale(1.05);
  -webkit-transform: rotateY(180deg) scale(1.05);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
