html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

a {
    color: wheat;
}

a:active {
    color: red;
}

a:hover {
    color: #9f4caf;
}

body {
    /* The picture used as a background is a faithful photographic reproduction of a two-dimensional, public domain work of art of the
    Vincent van Gogh "Starry night over the Rhône" (1888), and considered to be in the public domain. Source: https://commons.wikimedia.org/wiki/File:Starry_Night_Over_the_Rhone.jpg */
    background: #ffffff url('../img/Starry_Night_Over_the_Rhone.jpg');
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    background: rgba(0,0,0,.15);
    color: white;
    text-shadow: 5px 10px 8px #000,
                 3px 3px 5px darkblue;
}

p {
  font: bold 16px sans-serif;
  background: rgba(0,0,0,.2);
  color: white;
  text-shadow: 1px 2px 1px #000,
               3px 3px 5px darkblue;
}

#theme {
    text-transform:uppercase;
    text-align: center;
    padding-left: 0px;
}

#theme li {
    list-style: none;
    display: flow-root;
    font-size: 20px;
    padding: 0px 5px 10px;
    background: rgba(0,0,0,.2);
    text-shadow: 1px 2px 1px #000,
                 3px 3px 5px darkblue;
    cursor: pointer;
}

.fa-lg {
    padding-right: 10px;
    color: #9f4caf;
    text-shadow: 1px 2px 5px #000,
                 3px 3px 8px darkblue;
}

.fa-check,
.fa-stopwatch {
    padding-right: 8px;
}

.fa-stopwatch {
    padding-left: 10px;
}

.faactive {
    color: blue;
}

.footer-text {
    font: bold 20px sans-serif;
    padding: 5px 20px;
    background: rgba(0,0,0,.15);
    color: white;
    text-shadow: 1px 2px 1px #000,
                 3px 3px 5px darkblue;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
 * Styles for the deck of cards
 */

.deck {
    max-width: 660px;
    min-height: 680px;
    background: #ffffff;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 130px;
    width: 130px;
    font-size: 0;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.face,
.back {
    position: absolute;
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
}

.selected {
    border: 3px solid #9f4caf;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.matched {
    border: 3px solid yellow;
    transform: rotateY(180deg) scale(1.05);
    -webkit-transform: rotateY(180deg) scale(1.05);
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    background: #9f4caf;
}

span.moves {
    padding-right: 5px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#restart {
    float: right;
    background-color: #9f4caf;
    border: none;
    box-shadow: 8px 12px 10px 0 rgba(10, 6, 40, 0.7);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -5px 2px;
    cursor: pointer;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
 * The Modal popup window
 */

/*** Modal background ***/
.modal {
    display: none; /* Not visible by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/*** Modal Content ***/
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

/*** Modal Close Button ***/
.close {
    color: #9f4caf;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.modal-text {
    font: bold 20px sans-serif;
    background: none;
    color: #708090;
    text-shadow: none;
}

#final-score {
    color: #708090;
    width: 100%;
}

#restart1 {
    position: relative;
    background-color: #9f4caf;
    border: none;
    box-shadow: 8px 12px 10px 0 rgba(10, 6, 40, 0.7);
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/*** Breakpoints ***/
@media screen and (min-width: 320px) and (max-width: 374px) {
    h1 {
        font-size: 32px;
    }
    .deck {
        padding: 20px;
    }
    .score-panel {
        max-width: 98%;
    }
    .modal-content {
        max-width: 100%;
    }
}

@media screen and (min-width: 375px) and (max-width: 641px) {
    h1 {
        font-size: 38px;
    }
    .score-panel {
        max-width: 98%;
    }
    .modal-content {
        max-width: 100%;
    }
}

@media screen and (min-width: 642px) {
    .modal-content {
        max-width: 70%;
    }
}
